{% extends "base.html" %}
{% block content %}
    <div class="container">
      <form class="form-signin" method="post" action="/login_action/">
        <h2 class="form-signin-heading">Guest System</h2>
        <label for="inputUsername" class="sr-only">Username</label>
          <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
          <input name="password" type="password" id="inputPassword" class="form-control" style="margin-top:20px;" placeholder="Password" required>
          <p style="color:red">{{error}}</p> <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        {% csrf_token %}  <!-- 添加跨站请求伪造CSRF -->
      </form>
    </div> 
{% endblock %}
